/*Shared Styles*/

* {
  padding: 0;
  margin: 0;
}
main {
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
/*Blob Animation*/

.blob-2 {
  position: absolute;
  height: 150px;
  right: 20%;
  top: 80%;
  z-index: 1;
}
.blob-1 {
  position: absolute;
  height: 50px;
  left: 45%;
  bottom: 13%;
  z-index: -1;
  cursor: pointer;
}
.animation {
  animation: myAnim 5s ease 1s infinite normal forwards;
}

/* Animated Navigation Button */

.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #ff0000;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}
.button-89:active {
  background: var(--color);
  color: #fff;
}

/*Header Section Starts Here*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 25px;
}
.logo {
  width: 100px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
header ul a {
  font-family: "Caprasimo", cursive;
}
.contact-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
}
/*Header Section*/

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section img {
  margin-right: 450px;
  padding-top: 50px;
  width: 85%;
  animation: Anim2 10s ease 0s infinite normal forwards;
}

/*Skills Section*/

.skills-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-section > img {
  margin-top: 200px;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 130px;
  padding-top: 30px;
}

.skills h1 {
  font-size: 2em;
}
.skills-text {
  text-align: center;
}
.skills p {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.skills-card {
  display: flex;
  gap: 6rem;
  flex-direction: row;
  align-items: center;
}
.cards {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  min-height: 220px;
  min-width: 150px;
  border-radius: 15px;
  background-color: #ff0000;
  color: white;
  font-size: 1rem;
  outline: 3px dotted white;
  outline-offset: 10px;
  animation: Anim3 8s ease 0s infinite normal forwards;
}
.cards img {
  height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.progress {
  padding-top: 20px;
  width: 75%;
  animation: Anim3 8s ease 0s infinite normal forwards;
}

/*Goals Section*/

.goals-section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 200px;
}
.goals {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  text-align: right;
}
.goals p {
  text-align: justify;
}
.goals h1 {
  padding-bottom: 15px;
  font-size: 2.5rem;
}
.goals h1 span {
  color: #ff0000;
}
.goals-section img {
  width: 400px;
}

/*Keyframes Animation*/

@keyframes myAnim {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}
@keyframes Anim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-30px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(-30px);
  }
}
@keyframes Anim3 {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
